@page
@model Pages_CV
@{
    ViewData["Title"] = "My CV";
}

<div class="cv">
    <div class="header text-center">
        <img src="~/images/profile.png" class="profile-img" alt="Profile Photo" />
        <h1>Jones Osei</h1>
        <p>DevOps Engineer</p>
        <p>
            <a href="mailto:oseikwamejones@gmail.com" class="text-email">oseikwamejones@gmail.com</a> |
            <a href="tel:+44 7943 645 460" class="text-phone">+44 7943 645 460</a>
        </p>
        <p>
            <a href="https://www.linkedin.com/in/kwameds/" class="text-linkedin">LinkedIn</a> |
            <a href="https://github.com/JonesKwameOsei" class="text-github">GitHub</a>
        </p>
    </div>
    <div class="content">
        <section>
            <h2><u>Professional Summary</u></h2>
            <p>
                A DevOps Engineer with hands-on experience of containerising applications with Docker ensuring maximum security and performance optimisation.
                Utilised Helm and Kubernetes to orchestrate containers with 98% High Availability synchronization and 99% full security features. 
                Provisioned secured and scalable infrastructure in the cloud. 
            </p>
        </section>
        <section>
            <h2><u>Professional Experience</u></h2>
            <div class="experience">
                <h3>DevOps Consultant</h3>
                <p class="company">Jomacs IT Consult, Birmingham, UK</p>
                <p class="dates">June 2023 - Present</p>
                <ul>
                    <li>Implemented an automated deployment pipeline using Git, Jenkins, and Docker, reducing deployment time by 50% and increasing release frequency by 75%.</li>
                    <li>Orchestrated a Kubernetes cluster for a production environment, improving scalability and resource utilization, leading to a 30% reduction in infrastructure costs.</li>
                    <li>Developed and maintained a comprehensive CI/CD pipeline using Jenkins, Maven, and Git, resulting in a 90% reduction in manual build and deployment processes.</li>
                    <li>Implemented infrastructure as code using CloudFormation and Terraform to provision AWS resources such as EC2 instances, S3 buckets, and RDS databases, resulting in a 57% reduction in maintenance costs.</li>
                    <li>Applied automated testing to ensure continuous service availability using AWS Lambda and Amazon CloudWatch alarms.</li>
                    <li>Performed project monitoring, tracking, and reporting with Grafana and Prometheus.</li>
                </ul>
                <p><strong>Achievements:</strong></p>
                <ul>
                    <li>Automated integration and deployment processes, eliminating human error by 99% resulting in a 90% reduction in manual build and deployment processes.</li>
                    <li>Increased continuous delivery and deployment speed by 75% and leading to a 30% reduction in infrastructure costs.</li>
                    <li>Automated planned and exploratory tests, improving release quality by 69%.</li>
                </ul>
            </div>
            <div class="experience">
                <h3>DevOps Engineer</h3>
                <p class="company">Dunwell Health Service, Birmingham, UK</p>
                <p class="dates">January 2022 - June 2023</p>
                <ul>
                    <li>Packaged and built applications with Maven, NPM, Python, and NuGet, managing them with Azure Artifacts.</li>
                    <li>Dockerized and deployed applications to Azure Kubernetes Services (AKS).</li>
                    <li>Utilized Azure Pipelines to create continuous integration and continuous deployment pipelines from scratch.</li>
                    <li>Used Terraform to provision infrastructure and resources in Microsoft Azure Cloud.</li>
                    <li>Performed project monitoring, tracking, and reporting with Azure Boards.</li>
                </ul>
                <p><strong>Achievements:</strong></p>
                <ul>
                    <li>Automated build processes, eliminating human error by 98%.</li>
                    <li>Increased continuous delivery and deployment speed by 72%.</li>
                    <li>Automated planned and exploratory tests, improving release quality by 69%.</li>
                </ul>
            </div>
        </section>
        <section>
            <h2>Education</h2>
            <ul>
                <li>
                    <strong>Master of Science, Data Science</strong><br />
                    University of Gloucestershire, United Kingdom
                </li>
                <li>
                    <strong>Bachelor of Education, Educational Psychology</strong><br />
                    University of Cape Coast, Ghana
                </li>
            </ul>
        </section>
        <section>
            <h2>Certifications</h2>
            <ul>
                <li>AWS Certified Cloud Practitioner</li>
                <li>Microsoft Certified: Azure Data Fundamentals</li>
            </ul>
        </section>
        <section>
            <h2>Skills</h2>
            <ul>
                <li>Linux</li>
                <li>Python</li>
                <li>Go</li>
                <li>Bashscripting</li>
                <li>Docker</li>
                <li>Kubernetes</li>
                <li>Helm</li>
                <li>Terraform</li>
                <li>Ansible</li>
                <li>Git and GitHub</li>
                <li>Jenkins CI</li>
                <li>AWS Cloud Services</li>
                <li>Azure Cloud Services</li>
            </ul>
        </section>
        <section>
            <h2>Projects</h2>
            <ul>
                <li>
                    <strong>Super-Mario-Deployment-on-AWS-EKS-with-using-Terraform-Kubernetes</strong><br />
                    <p>
                        The deployment of the popular game Super Mario on Amazon Elastic Kubernetes Service (EKS) using Terraform and Continuous Integration/Continuous Deployment (CI/CD) pipelines.
                    </p>
                    <p>
                        <a href="https://github.com/JonesKwameOsei/Super-Mario-Deployment-on-AWS-EKS-with-using-Terraform-Kubernetes" class="text-project-link">Project Link</a>
                    </p>
                </li>
                <li>
                    <strong>Deploying an Online Boutique Web Application with Kubernetes</strong><br />
                    <p>
                        Deploy an online shopping application with Kubernetes.
                    </p>
                    <p>
                        <a href="https://github.com/JonesKwameOsei/Deploy-Webapp-with-Kubernetes" class="text-project-link">Project Link</a>
                    </p>
                </li>
            </ul>
        </section>
        <section>
            <h2>Contact Information</h2>
            <p>
                Email: <a href="mailto:oseikwamejones@gmail.com" class="text-email">oseikwamejones@gmail.com</a><br />
                Phone: <a href="tel:+44 7943 645 460" class="text-phone">+44 7943 645 460</a><br />
                LinkedIn: <a href="https://www.linkedin.com/in/kwameds/" class="text-linkedin">https://www.linkedin.com/in/kwameds/</a><br />
                GitHub: <a href="https://github.com/JonesKwameOsei" class="text-github">https://github.com/JonesKwameOsei</a>
            </p>
        </section>
    </div>
</div>
























