@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Thank you for taking time to view my CV.</p>
    <p>Click on <b class ="blue-text">CV</b> at the top to view the cv page.</p>
</div>
