html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: white;
    margin: 0;
    padding: 0;
}

.cv {
    padding: 20px;
    background-color: #2c2c2c;
    color: white;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

h1, h2 {
    color: #00bfff;
}

.content section {
    margin-bottom: 20px;
}

ul {
    list-style-type: circle;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a.text-light {
    color: #00bfff;
    text-decoration: none;
}

a.text-light:hover {
    text-decoration: underline;
}

a.text-email {
    color: #0e76a8; /* LinkedIn blue color */
}

a.text-phone {
    color: #0e76a8; /* LinkedIn blue color */
}

a.text-linkedin {
    color: #0e76a8; /* LinkedIn blue color */
}

a.text-github {
    color: #0e76a8; /* LinkedIn blue color */
}

a.text-project-link {
    color: #00bfff; /* Light blue for project links */
    text-decoration: none;
}

a.text-project-link:hover {
   text-decoration: underline;
}


.experience {
    margin-bottom: 20px;
}

.company {
    font-style: italic;
    color: #cccccc;
}

.dates {
    font-weight: bold;
    color: #999999;
}
